doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The Future home of something magical
    p   Gummi bears chocolate bar bonbon jelly chocolate bar. Donut oat cake toffee bear claw tart muffin apple pie danish. Bonbon donut dragée cake caramels. Muffin marshmallow fruitcake. Icing apple pie wafer soufflé candy gummies cupcake cupcake cheesecake. Oat cake bonbon candy canes brownie cookie dragée. Bonbon marzipan sugar plum pudding donut gummi bears jelly-o sugar plum.