doctype html
html(lang="en")
  head
    title Landing Page
  body
    div
      header
        h1 Experience VR
        p  A <em> simple</em> blog about virtual reality
        nav
          ul
            li Home
            li About
            li Articles
            li Contact
      div
        img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Tellus_-_Ara_Pacis.jpg/1920px-Tellus_-_Ara_Pacis.jpg")
        



